<div class="not-found-container">
  <div class="content">
    <h1 class="error-code">404</h1>
    <div class="divider"></div>
    <h2>¡Página no encontrada!</h2>
    <p>
      Lo sentimos, la página que buscas no existe o ha sido movida a otra
      ubicación.
    </p>

    <div class="actions">
      <button (click)="volverAlInicio()" class="btn-primary">
        Volver al inicio
      </button>

      <a routerLink="/contact" class="btn-secondary"> Contactar con soporte </a>
    </div>
  </div>
</div>
